name: Build and Deploy
on: [push]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: vuepress-deploy
      uses: jenkey2011/vuepress-deploy@master
      env:
        # ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        ACCESS_TOKEN: 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
        TARGET_REPO: nazmul-devops/personal-docs-site
        TARGET_BRANCH: dev
        BUILD_SCRIPT: npm && npm run build
        BUILD_DIR: docs/.vuepress/dist
        # CNAME: https://www.xxx.com
